body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffaf5;
  color: #333;
  text-align: center;
}

header {
  background-color: #f8e1e1;
  padding: 40px;
}

h1 {
  color: #b30059;
}

section {
  padding: 20px;
}

img {
  border-radius: 12px;
  margin-top: 10px;
}

footer {
  background-color: #f0dede;
  padding: 10px;
  font-size: 14px;
}
